<button class="waves-effect blue btn" (click)="login()" *ngIf="!(user | async)?.uid">Google Account</button>
<button class="waves-effect indigo btn" (click)="loginAnonymous()" *ngIf="!(user | async)?.uid">Login</button>
<button class="waves-effect waves-light btn" (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>

<div  *ngIf="(user | async)?.uid" >
    <input type="text" id="descripcion" placeholder="Descripcion"  [(ngModel)]="descripcion" />
    <input type="text" id="horaFin"  placeholder="Hora Fin"  [(ngModel)]="horaFin" />
    <input type="text" id="horaInicio"  placeholder="Hora Inicio"  [(ngModel)]="horaInicio" />
    <input type="text" id="nombre"  placeholder="Nombre"  [(ngModel)]="nombre" />
    <input type="text" id="estadoActividad"  placeholder="Estado Actividad"  [(ngModel)]="estadoActividad" />
    <input type="text" id="tipoActividad"  placeholder="Tipo Actividad"  [(ngModel)]="tipoActividad" />
    <input type="text" id="zonaAula"  placeholder="Zona Aula"  [(ngModel)]="zonaAula" />
    <br>
    <button (click)="Send(descripcion,horaFin, horaInicio, nombre, tipoActividad, estadoActividad, zonaAula)">send</button>
</div>




