<app-header></app-header>
<div class="container">
  <div>
    <table>
          <thead>
            <tr>
                <th>HORARIO</th>
                <th>TIPO</th>
                <th>ACTIVIDAD</th>
                <th>REFERENCIA</th>
                <th>AULA</th>
                <th>ESTADO</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                  
              </td>
              
            </tr>
          </tbody>
    </table>
  </div>
</div>
