<app-header></app-header>

<div class="container-fluid" *ngIf="isUserLoggedIn() && actividades">
    <!-- TITULOS -->
    <div class="row">
      <div class="col m1 center texto-titulo-tabla">
        HORARIO
      </div>
      <div class="col m2 center texto-titulo-tabla">
        ACTIVIDAD
      </div>
      <div class="col m1 center texto-titulo-tabla">
        TIPO
      </div>

      <div class="col m2 center texto-titulo-tabla">
        PROFE/REFERENTE
      </div>
      <div class="col m1 center texto-titulo-tabla">
        DESDE
      </div>
      <div class="col m1 center texto-titulo-tabla">
        HASTA
      </div>
      <div class="col m1 center texto-titulo-tabla">
        AULA
      </div>
      <div class="col m1 center texto-titulo-tabla">
        ESTADO
      </div>
       <div class="col m1 center texto-titulo-tabla">
        ACCIONES
      </div>
    </div>
    <!-- /TITULOS -->

    <!-- Una sola fila -->
    <div class="row fila" *ngFor="let actividad of actividades | async"  >
      <div class="col m1 elemento-tabla center" >
        {{actividad.horaInicio}} a {{actividad.horaFin}}
      </div>
      <div class="col m2 elemento-tabla center">
        {{actividad.descripcion}}<!-- Cuando la materia tiene nombre largo, usar marquesina  -->
      </div>
      <div class="col m1 elemento-tabla green center">
        {{actividad.tipoActividad}}
      </div>
      <div class="col m2 elemento-tabla">
        {{actividad.nombre}}
      </div>
      <div class="col m1 elemento-tabla">
           {{actividad.pickerDesde  | date: 'dd/MM/yy'}}
      </div>
          <div class="col m1 elemento-tabla">
           {{actividad.pickerHasta  | date: 'dd/MM/yy'}}
      </div>
      <div class="col m1 elemento-tabla">
           {{actividad.zonaAula}}
      </div>
      <div class="col m1 center elemento-tabla center"
        [class.green]="actividad.estadoActividad=='Normal'"
        [class.black-text]="actividad.estadoActividad=='Normal'"
        
        [class.red]="actividad.estadoActividad=='Se Cambio'"
        [class.black-text]="actividad.estadoActividad=='Se Cambio'"

        [class.yellow]="actividad.estadoActividad=='Suspendida'"
        [class.black-text]="actividad.estadoActividad=='Suspendida'"
        (click)="onSelect(actividad)">
        {{actividad.estadoActividad}} 
      </div>

      <div class="col m1 elemento-tabla center" >
         <a class="iconsch edit" (click)="modEvento(actividad.$key)"><i class="small material-icons">edit</i></a>
         <a class="iconsch delete" (click)="Delete(actividad.$key)"><i class="small material-icons">delete</i></a>       </div>
    </div>
</div>


