<nav class="nav-extended">
    <div class="nav-wrapper indigo darken-1">
        <a routerLink="/Daily" class="brand-logo"><img src="./assets/logo-faea.png"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="event"><i class="material-icons left">play_arrow</i>INICIAR VISOR</a></li>
        </ul>
    </div>
    <div class="nav-content indigo darken-2">
        <ul class="tabs tabs-transparent">
          <li class="tab"><a routerLink="/main">Actividad Diaria</a></li>
          <li class="tab"><a routerLink="/admin">Nueva Actividad</a></li>
        </ul>
    </div>
</nav>