/* You can add global styles to this file, and also import other style files */
@import "../node_modules/materialize-css/dist/css/materialize.css";
*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #282e34;
    color:#ddd;
    font-size: 16px;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
}
