/* You can add global styles to this file, and also import other style files */
@import "../node_modules/materialize-css/dist/css/materialize.css";
*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #282e34;
    color:#ddd;
    font-size: 16px;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
}

a.iconsch.edit > i{
color:#ffecb3;
cursor: pointer;
}

a.iconsch.edit > i:hover{
color:#ffa726;
cursor: pointer;
}
a.iconsch.delete > i{
color:#ef5350;
}
a.iconsch.delete > i:hover{
color:#c62828;
}
