*{
    padding: 0px;
    margin:0px;

}
.texto-titulo-tabla{
font-size: 2em;
font-style: bold;
color:#ddd;
}

.fila{
   border-top:0.25px gray solid; 
   
}
.elemento-tabla{
    padding-top:10px;
    padding-bottom: 10px;
}