<nav class="nav-extended black">

  <div class="nav-wrapper">
    <a routerLink="" class="brand-logo">Facultad de economia - Clases</a>
    <a routerLink="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

    <div class="center yellow-text"> {{hoy}} - {{dia|uppercase}} - {{horaActual}}</div>
    <div class="right"> </div>
    <ul class="side-nav" id="mobile-demo">
      <li><a routerLink=""><i class="material-icons">Inicio</i></a></li>
    </ul>
  </div>
</nav>


<div class="container-fluid">

    <table class="bordered centered" [class.responsive-table]="tablaResponsiva">
  <thead>
    <tr class="texto-titulo-tabla">
      <th>HORARIO</th>
      <th>ACTIVIDAD</th>
      <th>TIPO</th>
      <th>PROFESOR</th>
      <th>AULA</th>
      <th>ESTADO</th>
    </tr>
  </thead>
  <tbody>

     <tr  *ngFor="let actividad of actividades | async | orderBy:order:reverse" [class.encurso]="estaEnCurso(actividad.horaInicio,actividad.horaFin)">
      <!-- Tratando de definir un observable que cambie el fondo de la fila que este cursando ahora mismo.   -->
      <td>{{actividad.horaInicio}} : {{actividad.horaFin}}</td>
      <td> {{actividad.descripcion}}</td><!--  <marquee behavior="alternate" scrolldelay="300"> </marquee>-->
      <td class="green">
       {{actividad.tipoActividad}}

      </td>
      <td>
       {{actividad.nombre}}
      </td>
      <td>{{actividad.zonaAula}}</td>
      <td>
        <div class="estado elemento-tabla"
        [class.green]="actividad.estadoActividad=='Normal'"
        [class.yellow]="actividad.estadoActividad=='Se Cambio'"
        [class.darken-1]="actividad.estadoActividad=='Se Cambio'"
        [class.black-text]="actividad.estadoActividad=='Se Cambio'"
        [class.red]="actividad.estadoActividad=='Suspendida'">
         {{actividad.estadoActividad}}
        </div>
      </td>
    </tr>
  </tbody>
</table>


</div>

