*{
    padding: 0px;
    margin:0px;

}
.texto-titulo-tabla{
font-size: 2em;
font-style: bold;
color:#ddd;
}

.fila{
   border-top:0.25px gray solid; 
   
}
.elemento-tabla{
    padding-top:10px;
    padding-bottom: 10px;
    max-height: 42px;
}
td{
    max-width: 300px;
}
.encurso{
      background-color: orange;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes parpadeo {
    from {background-color: black;}
    to {background-color: orange;}
}

/* Standard syntax */
@keyframes parpadeo {
    from {background-color: black;}
    to {background-color: orange;}
}